<html>
<bod>
    <h1>
        Welcome to <%=title%>
    </h1>
    <ul>
        <% data.map((i)=>{ %>
            <li>
                <%=i %>
            </li>
        <% }) %>
    </ul>
</bod>

</html>